@import 'src/app/styles/vars';

div{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba($darkOffBlack, $alpha: 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
}