<form ngNativeValidate (submit)="onSubmit()">
    <div class="form-group">
        <label for="position-name">Name</label>
        <input [(ngModel)]="requestBody.name" minlength="3" maxlength="20" type="text" name="position-name" id="position-name" required>
    </div>
    <div class="form-group">
        <label for="position-description">Description</label>
        <textarea [(ngModel)]="requestBody.description" maxlength="275" name="position-description" id="position-description"></textarea>
    </div>
    <input type="submit" value="Create">
</form>
<app-alert *ngIf="alertIsActive" [alertMessage]="alertMessage"></app-alert>