<app-table-header [canCreate]="canEdit" (refreshEmitter)="getPositions()" (addEmitter)="onAddClick()" (searchEmitter)="setSearchQueryAndFilterPositions($event)" [tableTopic]="tableTopic"></app-table-header>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let position of positionsToDisplay">
            <td><span>{{ position.name }}</span></td>
            <td><span>{{ position.description ?? "None" }}</span></td>
            <td class="column-buttons" *ngIf="canEdit">
                <button class="edit" (click)="onEditClick(position.id)">
                    <span>Edit</span>
                </button>
                <button class="delete" (click)="createDeleteConfirmation(position.id)">
                    <span>Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="positionsToDisplay.length == 0">
            <td><span>No Positions</span></td>
        </tr>
    </tbody>
</table>

<app-confirmation *ngIf="confirmationIsActive" (cancelEmitter)="removeDeleteConfirmation()" (confirmEmitter)="confirmDeletion()"></app-confirmation>
<app-alert *ngIf="alertIsActive" [alertMessage]="alertMessage"></app-alert>