@import "src/app/styles/vars";

@mixin fixed-center {
    position: fixed;
    z-index: 4;

    @media (min-width:1100px) {
        height: calc(16rem + 15vw);
        width: calc(17rem + 25vw);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @media (max-width:1100px) {
        height: calc(25rem + 5vw);
        width: calc(10rem + 40vw);
        left: 50%;
        bottom: calc(3rem + 0vw);
        transform: translateX(-50%);
    }

    background-color: $trueWhite;
    border-radius: calc(0.5rem + 0.5vw);
    padding: calc(1.25rem + 1.5vw) calc(1.2rem + 1.4vw);
}