<app-auth-backdrop></app-auth-backdrop>
<div>
    <h1>Login</h1>
    <form ngNativeValidate>
        <span class="message">{{ errorMessage }}</span>
        <label for="userName" id="userNameLabel">Username</label>
        <input [(ngModel)]="loginRequestBody.UserName" name="userName" aria-labelledby="userNameLabel" type="text" required minlength="4">
        <label for="password" id="passwordLabel">Password</label>
        <input [(ngModel)]="loginRequestBody.Password" name="password" aria-labelledby="passwordLabel" type="password" required minlength="4">
        <button (click)="onSubmit()" aria-label="Login"><span>Login</span></button>
    </form>
</div>