<app-table-header [canCreate]="canEdit" (refreshEmitter)="getWorkers()" (addEmitter)="onAddClick()" (searchEmitter)="setSearchQueryAndFilterWorkers($event)" [tableTopic]="tableTopic" [createVerb]="createVerb"></app-table-header>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let worker of workersToDisplay">
            <td><span>{{ worker.nickname }}</span></td>
            <td><span>{{ worker.email }}</span></td>
            <td><span>{{ worker.role }}</span></td>
            <td class="column-buttons" *ngIf="canEdit">
                <button class="edit" (click)="onEditClick(worker.id)">
                    <span>Edit</span>
                </button>
                <button class="delete" *ngIf="worker.role != 'Administrator'" (click)="createDeleteConfirmation(worker.id)">
                    <span>Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="workersToDisplay.length == 0">
            <td><span>Error Loading Workers</span></td>
        </tr>
    </tbody>
</table>

<app-confirmation *ngIf="confirmationIsActive" (cancelEmitter)="removeDeleteConfirmation()" (confirmEmitter)="confirmDeletion()" [deleteSubject]="'worker'"></app-confirmation>
