@import '../../../assets/sass/vars';


div#dashboard-content-viewport{
    position: absolute;
    z-index: 0;
    overflow-y: scroll;
    top: calc(2rem + 2vw);
    left: calc(8rem + 9vw);
    height: 200vh;
    width: calc(100vw - (8rem + 9vw));
    padding: calc(1.5rem + 0.5vw) calc(1rem + 2.25vw);
    background-color: $offWhite;

    h1#dashboard-content-title{
        font-size: calc(1.1rem + 0.8vw);
        letter-spacing: calc(0.017rem + 0.017vw);
        margin-bottom: calc(1.2rem + 0.9vw);
    }
}