/* You can add global styles to this file, and also import other style files */
// @import url(./assets/sass/auth/form.scss);
@import './assets/sass/vars';
@import './assets/sass/auth/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    font-family: 'Red Hat Text', sans-serif;
}