<div id="dashboard-sidebar">
    <span id="user-name">{{ userName }}</span>
    <span id="user-role">{{ organizationRole }}</span>
    
    <div id="sidebar-tabs" aria-role="list">
        <a routerLink="/dashboard/shifts" aria-role="listitem">Shifts</a>
        <a routerLink="/dashboard/calendar" aria-role="listitem">Calendar</a>
        <a routerLink="/dashboard/positions" aria-role="listitem">Positions</a>
        <a routerLink="/dashboard/workers" aria-role="listitem">Workers</a>
    </div>
</div>