@import 'src/app/styles/vars';

div#dashboard-sidebar{
    background-color: $darkOffBlack;
    z-index: 1;
    color: $offWhite;
    display: flex;
    flex-direction: column;
    text-align: center;

    position: fixed;
    top: calc(2rem + 1.75vw);
    left: 0;

    // Make sidebar into fullscreen menu for mobile
    @media (max-width:1100px) {
        display: none;

        &.isActive{
            display: flex;
            width: 100vw;
            height: calc(100vh - (2rem + 1.75vw));

            span#user-nickname{
                margin-top: calc(1rem + 1.25vh);
                font-size: calc(1.1rem + 0.9vw);
                letter-spacing: calc(0.05rem + 0.045vw);
                font-weight: 400;
            }
        
            span#user-role{
                margin-top: calc(0.25rem + 0.35vh);
                font-size: calc(0.9rem + 0.8vw);
                font-style: italic;
                font-weight: 300;
                letter-spacing: calc(0.025rem + 0.025vw);
            }
        
            div#sidebar-tabs{
                display: flex;
                flex-direction: column;
                list-style: none;
                margin-top: calc(3.5rem + 1.25vh);
        
                a{
                    display: grid;
                    grid-template-columns: calc(2rem + 2vw) 1fr;
                    padding: calc(0.8rem + 0.8vh) calc(0.5rem + 0.5vw);
                    cursor: pointer;
                    border-bottom:1px solid $lightOffBlack;
                    text-decoration: none;
        
                    img{
                        margin: auto;
        
                        &#shift-icon{
                            height: calc(0.9rem + 0.55vw);
                        }
        
                        &#calendar-icon{
                            height: calc(0.95rem + 0.55vw);
                        }
        
                        &#position-icon{
                            height: calc(0.9rem + 0.5vw);
                        }
        
                        &#worker-icon{
                            height: calc(0.85rem + 0.55vw);
                        }
                    }
        
                    span{
                        text-align: left;
                        font-size: calc(1rem + 0.6vw);
                        letter-spacing: calc(0.04rem + 0.035vw);
                        font-weight: 300;
                        color: $trueWhite;
                    }
        
                    &:first-of-type{
                        border-top: 1px solid $lightOffBlack;
                    }
                }
            }

            div#user-name{
                margin-top: calc(6rem + 4vw);
                display: flex;
                flex-direction: column;
                margin-left: calc(0.43rem + 0.47vw);
    
                span{
                    text-align: left;
                    color: $mediumGrey;
    
                    &#user-name-label{
                        user-select: none;
                        font-weight: 400;
                        font-size: calc(0.65rem + 0.55vw);
                        letter-spacing: calc(0.005rem + 0.01vw);
                        padding-bottom: calc(0.065rem + 0.05vw);
                    }
    
                    &#user-name-content{
                        font-weight: 300;
                        letter-spacing: calc(0.006rem + 0.02vw);
                        font-size: calc(0.9rem + 0.65vw);
                    }
                }
            }
    
            div#user-logout{
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
    
                margin-top: calc(0.51rem + 0.55vw);
                margin-left: calc(0.43rem + 0.47vw);
    
                img{
                    height: calc(0.5rem + 0.5vw);
                    padding-right: calc(0.15rem + 0.25vw);
                }
    
                span{
                    font-weight: 300;
                    color: $mediumGrey;
                    font-size: calc(0.8rem + 0.6vw);
                }
            }
        }
    }

    // Sidebar is fixed to side of screen on desktop
    @media (min-width:1100px) {
        height:100vh;
        width: calc(8rem + 8.5vw);

        span#user-nickname{
            margin-top: calc(1rem + 1.25vh);
            font-size: calc(0.7rem + 0.7vw);
            letter-spacing: calc(0.035rem + 0.045vw);
            font-weight: 400;
        }
    
        span#user-role{
            margin-top: calc(0.25rem + 0.35vh);
            font-size: calc(0.6rem + 0.65vw);
            font-style: italic;
            font-weight: 300;
            letter-spacing: calc(0.025rem + 0.025vw);
        }
    
        div#sidebar-tabs{
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-top: calc(3.5rem + 1.25vh);
    
            a{
                display: grid;
                grid-template-columns: calc(1.5rem + 1.5vw) 1fr;
                padding: calc(0.74rem + 0.74vh) calc(0.15rem + 0.15vw);
                cursor: pointer;
                border-bottom:1px solid $lightOffBlack;
                text-decoration: none;
    
                img{
                    margin: auto;
                    height: calc(0.8rem + 0.8vw);
    
                    &#shift-icon{
                        height: calc(0.59rem + 0.59vw);
                    }
    
                    &#calendar-icon{
                        height: calc(0.6rem + 0.6vw);
                    }
    
                    &#position-icon{
                        height: calc(0.57rem + 0.57vw);
                    }
    
                    &#worker-icon{
                        height: calc(0.51rem + 0.51vw);
                    }
                }
    
                span{
                    text-align: left;
                    font-size: calc(0.6rem + 0.65vw);
                    letter-spacing: calc(0.015rem + 0.015vw);
                    font-weight: 300;
                    color: $trueWhite;
                }
    
                &:first-of-type{
                    border-top: 1px solid $lightOffBlack;
                }
            }
        }

        div#user-name{
            margin-top: calc(9rem + 8vw);
            display: flex;
            flex-direction: column;
            margin-left: calc(0.43rem + 0.47vw);

            span{
                text-align: left;
                color: $mediumGrey;

                &#user-name-label{
                    user-select: none;
                    font-weight: 400;
                    font-size: calc(0.38rem + 0.43vw);
                    letter-spacing: calc(0.005rem + 0.01vw);
                    padding-bottom: calc(0.065rem + 0.05vw);
                }

                &#user-name-content{
                    font-weight: 300;
                    letter-spacing: calc(0.006rem + 0.02vw);
                    font-size: calc(0.51rem + 0.55vw);
                }
            }
        }

        div#user-logout{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-top: calc(0.51rem + 0.55vw);
            margin-left: calc(0.43rem + 0.47vw);

            img{
                height: calc(0.34rem + 0.37vw);
                padding-right: calc(0.15rem + 0.25vw);
            }

            span{
                font-weight: 300;
                color: $mediumGrey;
                font-size: calc(0.48rem + 0.5vw);
            }
        }
    }
}