<div id="dashboard-sidebar"[ngClass]="{ 'isActive': sidebarActivated }">
    <span id="user-nickname">{{ nickname }}</span>
    <span id="user-role">{{ organizationRole }}</span>
    
    <div id="sidebar-tabs" aria-role="list">
        <a routerLink="/dashboard/shifts" aria-role="listitem">
            <img src="assets/images/icons/shift.svg" alt="" id="shift-icon">
            <span>Shifts</span>
        </a>
        <a routerLink="/dashboard/calendar" aria-role="listitem">
            <img src="assets/images/icons/calendar.svg" alt="" id="calendar-icon">
            <span>Calendar</span>
        </a>
        <a routerLink="/dashboard/positions" aria-role="listitem">
            <img src="assets/images/icons/positions.svg" alt="" id="position-icon">
            <span>Positions</span>
        </a>
        <a routerLink="/dashboard/workers" aria-role="listitem">
            <img src="assets/images/icons/workers.svg" alt="" id="worker-icon">
            <span>Workers</span>
        </a>
    </div>
    <div id="user-name">
        <span id="user-name-label">Logged in as:</span>
        <span id="user-name-content">{{ userName }}</span>
    </div>
    <div id="user-logout" role="button" (click)="onLogout()">
        <img src="assets/images/icons/logout.svg" alt="">
        <span>Logout</span>
    </div>
</div>